body {
  color: white;
  font-family: sans-serif;
  margin: auto;
  background-image: url("https://images.pexels.com/photos/1477199/pexels-photo-1477199.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  padding: 20px;    
}

fieldset {
  border: 0;
  border-radius: 0%;
  border-color: none;
}

header {
  text-align: center;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: rgba(0,0,0,0.3);
  margin-bottom: 0;
}

.form-body {
  margin: auto;
  background-color: rgba(0,0,0,0.6);
  max-width: 500px;
}

label, input {
  display: block;
  margin-top: 0.5rem;
}

label {
  margin-bottom: 1rem;
}

select {
  display: block;
}

.radio {
  margin: auto;
  width: auto;
}

.inline {
  display: inline;
  font-size: small;
  margin-left: 2;   
}

.full-width-input {
  width:100%;
  display: block;
}

input[name="will-refer-option"] {
  display: inline;
  font-size: smaller;
}

input[name="improvement-checkbox"] {
  display: inline;
  margin: 0;
  font-size: smaller;
}

input[type="checkbox"] {
  width: auto;
}

input[type="submit"] {
  height: 30px;
  background-color: green;
  border: none;
  box-shadow: none;
  color: white;
}